/* Global Styles */
:root {
    --primary-color: #0EA852;
    --primary-color-hvr: #03833a;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--dark-color);
    color: var(--light-color);
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url(../images/app-background.jpeg); */
    background-position: center;
    /* background-repeat: no-repeat; */
    height: auto;
    background-size: cover;
}

.btn-primary{
    background-color: var(--primary-color);
    border: none;
}
.btn-primary:hover{
    background-color: var(--primary-color-hvr);
    border: none;
}

button:focus{
    outline: none;
}

/* Start Mobile View */
/* Mobile Navbar */
.navbar{
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light-color);
}
.navbar .navbar_logo{
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-color);
}


/* App content Body */
.banner_section{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/banner-img.jpeg);
    background-position: center;
    background-size: cover;
    object-fit: contain;
    height: 100vh;
}

.banner_section .booking_btn{
    position: relative;
    top: 350px;
    left: 40px;
    padding: 10px 20px;
    border-radius: 24px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
}

.body_section{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../images/app-background.jpeg);
    object-fit: contain;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.body_section .about_section_content h5{
    color: var(--light-color);
    font-size: 25px;
}
.body_section .about_section_content p{
    font-size: 17px;
    color: var(--light-color);
    text-align: justify;
    margin: 0 0 15px 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.body_section .about_section_content .more_btn{
    border: 1px solid var(--light-color);
    padding: 5px 20px;
    background-color: transparent;
    color: var(--light-color);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.matches{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
}
.matches::-webkit-scrollbar {
    display: none;
}
.matches .match_content{
    width: 100%;
    object-fit: contain;
    max-height: auto;
    margin-right: 10px;
    transition: transform 500ms;
}
.matches .match_content .match_card{
    width: 325px;
    height: auto;
    color: var(--dark-color);
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.matches .match_content .match_card img{
    border: none;
    border-radius: 10px;
}

.social_media_section{
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    position: relative;
    bottom: -90px;
}


/* Mobie footer navbar */
.tab_menu_footer{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    border-top: 1px solid var(--light-color);
    color: var(--primary-color); /* icon color */
    margin-bottom: -3px;
}
.tab_menu_footer .tab_item{
    font-size: 25px;
    display: grid;
}

svg {
    margin-left: 8px !important;
}

.tab_menu_footer .tab_item small{
    font-size: 15px;
}

/* Media queries */
@media(max-width:320px){
    .body_section .about_section_content h5{
        font-size: 20px;
    }
    .body_section .about_section_content p{
        font-size: 13px;
    }
    .body_section .about_section_content .more_btn{
        font-size: 12px;
    }
    .matches .match_content{
        margin-right: 60px;
    }
    .social_media_section{
        bottom: -20px;
    }
}
/* End Mobile View */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Satrt Desktop view */

.desktop-nav{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.desktop-nav .d-brand-logo img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 11px;
    left: 30px;
}

.desktop-nav .d-nav-link{
    display: flex;
    justify-content: space-around;
}
.desktop-nav .d-nav-link a{
    padding: 10px;
    color: var(--light-color);
    text-decoration: none;
}

.desktop-nav .d-nav-link a:hover{
    border-bottom: 2px solid var(--primary-color);
}

.d-banner{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/banner-img.jpeg);
    background-position: center;
    background-size: cover;
    object-fit: contain;
    height: 90vh;
}

/* toolbar */
.d-toolbar {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../images/book-slot-bg.jpg);
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
    align-items: center;
}
.d-toolbar .toolbar-heading span{
    font-size: 50px;
}
.d-toolbar .toolbar-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-toolbar .toolbar-option .dropdown .dropdown-toggle{
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    margin-left: 30px;
}
.d-toolbar .toolbar-option .dropdown .dropdown-menu{
    border-radius: 5px;
    text-decoration: none;
}
.d-toolbar .toolbar-option div{
    padding: 0 10px;
}

/* matches container */
.d-matches{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../images/home-players-bg.jpg);
    background-position: center;
    background-size: cover;
    object-fit: contain;
    align-items: center;
    height: 100vh;
}
.d-match_card{
    background-color: #222;
    border-radius: 10px;
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

/* End Desktop view */